<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drinkit</h1>

        <ul>
            <li th:each="drinkki : ${drinkit}">
                <span th:text="${drinkki.nimi}">Task</span>
                 <br/>
               
            </li>
        </ul>
        
	 <br/>
	 
	 <h2> Lisää uusi drinkki </h2>
	 <form method="POST" action="/uusidrinkki">
             <p>Drinkin nimi</p>
             <input type="text" name="nimi"/>
             <br/>
             <p>Vaadittu lasityyppi</p>
            <input type="text" name="lasityyppi"/>
            <br/>
            <p>Valmistusohje</p>
            <textarea rows="2" cols="25" placeholder="Valmistusohje drinkille"></textarea>
            <br/>
            
            
            <input type="submit" value="Lisää!"/>
        </form>
         
         
        
	<br/>
         <h2> Lisää uuden drinkin raaka-aineet </h2> 
         <p>Valitse, mihin drinkkiin ainesosa lisätään</p>

	<li th:each="neste : ${nesteet}">
        <form method="POST" th:action="@{~/uusiraakaaine/{did}(did=${drinkit.drinkki_id})/{nid}(nid=${nesteet.raaka_aine_neste_id})}">
            <select name="nimi">
                        <option th:each="drinkki: ${drinkit}" th:value="${drinkki.drinkki_id}" th:text="${drinkki.nimi}">
                            drinkki
                        </option>
                    </select>
            <p>Valitse lisättävä neste</p>
            <br/>
            <select name="nimi">
                        <option th:each="neste: ${nesteet}" th:value="${neste.raaka_aine_neste_id}" th:text="${neste.nimi}">
                            neste
                        </option>
                    </select>
            
            <br/>
            <p>Määrä (cl)</p>
            
            <input type="text" name="maara"/>
            <br/>
            <input type="submit" value="Lisää!"/>
        </form>
         <br/>

        
        
        <a href="nesteet">Lisää tai tarkastele raaka-aineita</a>
        <br/>
        <a href="index">Takaisin</a>
    </body>
</html>
