<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkit</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="ffcccc" style='font-family:"Courier"'>
        <h1>Drinkit</h1>
        
        <ul style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ccffdd">
            <li th:each="drinkki : ${drinkit}">
                <a th:href="@{~/drinkit/{id}(id=${drinkki.drinkki_id})}">
                    <span th:text="${drinkki.nimi}"></span>
                </a>
            </li>
        </ul>
        
	 <br/>
	 
	 <h2> Lisää uusi drinkki </h2>
	 <form method="POST" action="/uusidrinkki" style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ccffdd">
             <p>Drinkin nimi</p>
             <input type="text" name="nimi"/>
             <br/>
             <p>Vaadittu lasityyppi</p>
            <input type="text" name="lasityyppi"/>
            <br/>
            <p>Valmistusohje</p>
            <textarea rows="2" cols="25" placeholder="Valmistusohje drinkille"></textarea>
            <br/>
            
            
            <input type="submit" value="Lisää!"/>
        </form>
         
         
        
	<br/>
         <h2> Lisää uuden drinkin raaka-aineet </h2> 
         
         <p> Valittavat raaka-aineet </p>
         
         <ul style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ccffdd">
            <li th:each="neste : ${nesteet}">
                <span th:text="${neste.nimi}"></span>
                <span th:text="${neste.kayttokerrat}"></span>
            </li>
        </ul>
        <br/>
        <p> Raaka-aineen lisäys drinkkiin </p> 
         
        <form method="POST" action="/uusiraakaaine" style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ccffdd">
            <p>Kirjoita, mihin drinkkiin ainesosa lisätään</p>
            <input type="text" name="nimi"/>
            <br/>
        
            <br/>
            <p>Kirjoita lisättävä neste</p>
            
            <input type="text" name="neste"/>
            <br/>
            
            <br/>
            <p>Määrä (paljonko raaka-ainetta lisätään drinkkiin) (cl)</p>
            
            <input type="text" name="maara"/>
            <br/>
            <input type="submit" value="Lisää!"/>
        </form>
         <br/>

        
        
         <a href="nesteet" style="font-size: 40px">Lisää tai tarkastele raaka-aineita</a>
        <br/>
        <a href="index" style="font-size: 40px">Takaisin</a>
    </body>
</html>
