<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>User's tasks</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="e6ffe6" style='font-family:"Courier"'>
        <h1 th:text="${drinkki.nimi}">Drinkin nimi</h1>
	
        <h2>Käytetyt raaka-aineet</h2>
  	<p>Drinkin nimi / Juomaan lisättävä määrä (cl)</p>

	<ul style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ffccff">
            <li th:each="aine : ${raakaaineet}">
                <span th:text="${aine.nimi}"></span> 
                <br/>
		<span th:text="${aine.juomaanLisattavaMaara}"></span>
            </li>
        </ul>
	
	<h2>Muut tiedot</h2>
        <p>Lasityyppi / Resepti / Hinta(€) / Alkoholiprosentti(%)</p>
	
	<ul style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #ffccff">
            <li th:each="drinkki : ${drinkki}">
                <span th:text="${drinkki.lasityyppi}"></span>
		<br/>
		<span th:text="${drinkki.resepti}"></span>
		<br/>
		<span th:text="${drinkki.hinta}"></span>
		<br/> 
		<span th:text="${drinkki.alkoholiprosentti}"></span>
            </li>
        </ul>
		<a href="https://drinkkitietokanta2017.herokuapp.com/index" style="font-size: 40px">Takaisin</a>
    </body>
</html>
