<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Nesteet</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="#ffffb3" style='font-family:"Courier"'>
        <h1>Nesteet</h1>
        <p>Nimi / Käyttökerrat</p>
        <ul style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #b3e6ff">
            <li th:each="neste : ${nesteet}">
                <span th:text="${neste.nimi}"></span> 
                <br/>
                <span th:text="${neste.kayttokerrat}"></span>
            </li>
        </ul>
            
        <h2> Lisää uusi neste</h2>

        <form method="POST" action="/nesteet" style="border:3px; border-style:solid; border-color:#000000; padding: 1em; background-color: #b3e6ff">
            <p>Raaka-aineen nimi</p>
            <input type="text" name="nimi"/><br/>
            <p>Määrä (cl, esim. pullon koko)</p>
            <input type="text" name="maara"/><br/>
            <p>Hinta (€/litra)</p>
            <input type="text" name="hinta"/><br/>
            <p>Alkoholipitoisuus (%)</p>
            <input type="text" name="alkoholipitoisuus"/><br/>

            <input type="submit" value="Lisää!"/>
        </form>

        

        

        <a href="drinkit" style="font-size: 40px">Takaisin</a>

    </body>
</html>
